@media screen and (max-width:576px) {
  .nav-hamburger-menu {
    display: block;
    color: white;

  }

  .nav-btn-container {
    display: none;
  }

  .banner-main {
    flex-direction: column;

  }

  .banner-childs {
    width: 100%;
    position: relative;

  }


  .banner-main .banner-childs h1 {
    font-size: 46px;
    font-weight: 900;

  }

  .five-hundred {
    position: absolute;
    backdrop-filter: blur(15.12px);
    width: 145px;
    height: 74px;
    top: 5%;
    left: 72%;
  }

  .five-hundred h2 {
    color: white;
    font-size: 30.24px;
    font-weight: 900;
  }

  .three-hundred {
    position: absolute;
    width: 155px;
    height: 72px;
    top: 50%;
    left: 20%;
    /* bottom: 60%; */
  }

  .three-hundred h2 {
    font-size: 19px;
    font-weight: 900;
  }

  .btn-content .enrol-icon22 {
    width: 190px;
    height: 54px;
  }

  .btn-content .enrol-icon11 {
    width: 190px;
    height: 54px;
  }

  .content h1 {
    font-size: 34px;
    font-weight: 900;
  }

  .run-easily h1 {
    font-size: 34px;
    font-weight: 900;
  }

  .calculator-content h1 {
    font-size: 34px;
    font-weight: 900;

  }

  .calculator-bmi h1 {

    font-size: 18px;
    font-weight: 900;

  }

  .calculator-chart h1 {

    font-size: 18px;
    font-weight: 900;
  }

  .team-content h1 {

    font-size: 34px;
    font-weight: 900;

  }

  .banner-main1 .banner-childs1 h1 {

    font-weight: 900;
    font-size: 34px;

  }

  .excercise-content {
    flex-direction: column;
    justify-content: center;
    /* border-radius: 100%; */
    margin-bottom: -30px;
  }

  .image-content {

    justify-content: center;

  }

  .image-content img {
    width: 100%;
    height: 100%;
    /* padding-left: 10px; */
  }

  .extra {
    flex-direction: column;
  }

  .run-easily {
    width: 90%;
  }

  .run-btn {
    width: 324px;
    height: 50px;
  }


  .run-easily img {
    width: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 64% 27%;
    margin-top: 20px;
  }

  .calculator-section {
    flex-direction: column;
    height: auto;
  }

  .calculator-chart {
    width: 100%;

  }

  .calculator-bmi {

    width: 100%;

  }

  .calculator-content {

    margin-top: 40px;

    padding-left: 10px;
    /* height: 120px; */
  }

  .team-image img {
    width: 100%;

  }


  .excercise-content {

    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border-radius: 100%; */
  }

  .team-image img {
    width: 80%;
    margin-left: 40px;
    border-radius: 18px;

  }

  .image-section {
    padding: 5px 2px;
  }

  .row-1,
  .row-2 {
    grid-template-columns: 1fr;

  }


  .container {
    flex-direction: column;
  }

  .banner-main1 {
    flex-direction: column;
  }

  .banner-childs1 {
    width: 100%;
  }

}