@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: miama;
  font-style: italic;
  font-weight: 400;
  src: local('Miama'), url(https://fonts.cdnfonts.com/s/302/Miama-Regular.woff) format('woff')
}

:root {
  --orange-color: rgb(230, 83, 60);
  --dark-blue-color: #101a1f;

  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}



/* *{
  border: 1px solid red;
}
body{
  border: 5px dashed green;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Inter", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid salmon; */

}


.btn.light {
  background: var(--orange-color);
}

.btn-content .enrol-icon11 {
  width: 224px;
  height: 54px;
  padding: 16px 40px 16px 40px;
  text-decoration: none;
  margin-bottom: 10px;

}

.btn-content .enrol-icon22 {
  width: 224px;
  height: 54px;
  padding: 16px 40px 16px 40px;
  text-decoration: none;
  background: none;
  border: 2px solid white;

}

.enrol-icon3 {
  width: 214px;
  height: 50px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  margin-top: 10px;
}

.btn-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 8px;
}


.btn.enrol-icon1::before {
  /* content: url("images/enrol-now-icon.svg"); */
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}



/* navber css start here */


.navber-main {
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0px;
  /* border: 2px solid red; */
  padding-top: 40px;
  /* padding-bottom: 30px; */
}

.nav-menu-btn {
  background-color: rgba(16, 15, 15, 0.947);
  color: white;
  padding: 5px;
  margin-left: 45px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border-radius: none;

}

.logo {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
}

.btn {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  width: 98px;
  height: 42px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}



.nav-links {
  display: flex;
  width: 465px;
  height: 46px;
  right: 500px;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(124, 122, 122, 0.491);
  border-radius: 39px;
  
}

.nav-hamburger-menu {
  display: none;
}

/* navber css end here */

/* banner css start here */
.main-content {
  max-width: 1440px;
  background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);

  /* border: 2px solid red; */
}

.banner-childs {
  width: 50%;
  /* border: 2px solid green; */
  position: relative;
}

.banner-childs img {
  width: 48%;
  position: absolute;
  left: 10px;

}

.banner-main {
  max-width: 1060px;
  margin: 0 auto;
  min-height: 580px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.banner-main .banner-childs h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 78px;
  line-height: 120%;
  color: white;
  margin-top: 40px;
}

.banner-main .banner-childs p {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 30px;
  color: white;
  margin-top: 15px;
}

.banner-childs img {
  position: relative;
  width: max-content;
  height: 580px;
  left: 25%;
  top: 0px;
}

.italic {
  font-style: italic;
  font-family: 'Miama', sans-serif;
}

.health-section {
  color: rgba(255, 255, 255, 0.5);

}

#huge {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.five-hundred {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 193px;
  height: 98px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 15px;

  top: 30%;
  left: 65%;
}

.hero-image {
  margin-top: 30px;
  right: 40px;
}

.five-hundred h2 {
  color: white;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 40px;
  font-weight: 900;
}

.free {
  color: rgba(255, 255, 255, 0.65);
  padding-left: 30px;
}


.three-hundred .circle {
  position: relative;
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 100%;
}

.hundred {
  display: flex;
  flex-direction: column;
}

.plus {
  padding-left: 15px;
}

.three-hundred {
  position: absolute;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  width: 200px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  top: 78%;
  left: 2%;


}

.three-hundred h2 {
  font-size: 30px;
  font-weight: 900;
}

/* banner css end here */

.habit {
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
  /* border: 2px solid red; */

}

.content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  color: white;

}

.content h1 {
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 900;
}

.content p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);

}


.excercise-content {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0px;
  /* border: 2px solid red; */
  /* border-radius: 100%; */
}

.image-content {

  width: 235px;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: -10px; */
  margin-top: 25px;
}

.image-content img {

  border-radius: 100%;
  width: 70%;
  height: auto;

  /* object-fit: cover; */
}


.image-content.text-modify {

  text-align: center;
  padding: 18px;
}

.text-modify p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;

}

.text-modify h4 {
  color: white;
  text-align: center;
  margin-top: 12px;

}


/* run and extra css style start */

.run-mile {
  max-width: 1060px;
  margin: 0 auto;
  /* border: 2px solid green; */
  margin-top: 60px;
}

.run-easily {
  width: 50%;
  /* border: 2px solid red; */
}

.run-easily img {
  width: 100%;
  border-radius: 18px;
  object-fit: none;
  object-position: 70% 30%;
  margin-top: 20px;
}

.extra {
  display: flex;
  align-items: center;
  padding: 30px;
  background: rgb(34, 34, 34);
  border-radius: 18px;
}

.run-easily h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
}

.run-easily p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Bmi calculator section start */

.believe {
  max-width: 1440px;
  background: black;
}

.bmi-section {
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(34, 34, 34);
}

.run-btn {
  width: 224px;
  height: 54px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;

  background: rgb(230, 83, 60);
}

.calculator-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: start;
  max-width: 1060px;
  height: auto;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}

.calculator-chart {
  width: 48%;
  margin-top: 20px;
  /* border: 2px solid green; */
}

.calculator-bmi {
  width: 48%;
  margin-top: 20px;
  /* border: 2px solid blue; */
}

.form-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.form-field {
  width: 49%;
  /* border: 2px solid red; */
  color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;

}

.border1 {

  margin-top: 5px;

  /* border: 2px solid red; */
}

.border1 input {

  height: 100%;
  border-radius: 8px;

}

.border1 select {
  width: 100%;
  border-radius: 8px;

}

.form-field-text-area {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 10px;
}

.form-container input,
textarea,
select {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 45px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(170, 163, 163, 0.6);
  font-weight: 30px;
}

.calculator-content {
  /* color: white; */

  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 400px;
  text-align: left;
  /* height: 120px; */
}

.calculator-content p {
  color: rgba(255, 255, 255, 0.5);
}

.calculator-content h1 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: white;
}


.calculator-chart h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
}

.calculator-chart table {
  left: 189px;
  right: 941px;
  margin-top: 30px;
  border-collapse: collapse;
  /* border: 2px solid white; */
}

.calculator-chart table th {
  color: white;
}

.calculator-chart table td {
  color: rgba(255, 255, 255, 0.5)
}

.calculator-chart table th,
td {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);


}

.calculator-chart td {
  font-size: 14px;
  font-weight: 400;


}


.calculator-bmi h1 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  color: white;
}

.calculator-bmi p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}



/* Bmi calculator section end */


/* Meet our team section style start */

.image-section {
  max-width: 1065px;
  margin: 0 auto;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  /* border: 2px solid red; */
  padding:5px 10px;
  margin-top: 40px;
}

.team-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.team-content h1 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: white;
}

.team-content p {
  color: rgba(255, 255, 255, 0.5);
}

.team-image {
  /* gap: 16px; */
  padding: 8px;
}

.row-1,
.row-2 {
  display: grid;
  gap: 20px;

  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 0;

  /* gap: 1rem; */
}

.team-image {
  position: relative;
}


.position-name {
  position: absolute;
  top: 78%;
  left: 5%;
  font-size: 18px;
}

.position-name1 {
  position: absolute;
  /* color: white; */
  top: 78%;
  left: 5%;
  font-size: 18px;
}

.position-name2 {

  position: absolute;
  /* color: white; */
  top: 78%;
  left: 5%;
  font-size: 18px;

}

.position-name3 {
  position: absolute;
  /* color: white; */
  top: 78%;
  left: 5%;
  font-size: 18px;
  color: white;
}

.position-name,
.position-name1,
.position-name2 h3 {
  color: white;
}

.position-name p,
.position-name1 p,
.position-name2 p,
.position-name3 p {
  color: #a5a0a0;
}

.team-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}



/* Meet our team section style end */








/* Extra section start */

.main-content1 {
  max-width: 1060px;
  margin: 0 auto;
  /* min-height: 580px; */
  background: rgb(34, 34, 34);
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.banner-childs1 {
  width: 47%;
  /* border: 2px solid green; */
  position: relative;
}

.banner-childs1 img {
  width: 100%;
}

.banner-main1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.banner-main1 .banner-childs1 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  color: white;
}

.banner-main1 .banner-childs1 p {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 30px;
  color: rgb(134, 127, 127);
}

.banner-childs1 img {
  position: relative;

}



/* Extra section end */


















/* footer section style start */





footer {
  max-width: 1440px;
  background: rgba(255, 255, 255, 0.1);
  color: white;

  margin-top: 40px;
}

.footer-container {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.container {
  display: flex;
  gap: 30px;
  padding: 50px 20px;
}

.about {
  /* background-color: red; */
  flex-grow: 1;
  flex-basis: 100%;
}

.about h1 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 60px;
  font-weight: 800;
  font-style: italic;
  text-align: left;
}

.about p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.services {
  /* background-color:orange; */
  flex-grow: 1;
  flex-basis: 80%;
  /* margin: 0 20px; */
}

.services ul {
  list-style-type: none;
  line-height: 2;
}

.services a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 23px;
  font-weight: 400;
}

.services h3 {
  font-size: 32px;
}

.contact ul {
  list-style-type: none;
  line-height: 2;
}

.contact a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 23px;
  font-weight: 400;
}

.contact {
  /* background-color: darkred; */
  flex-grow: 1;
  flex-basis: 70%;
}

.container h3 {
  margin-bottom: 20px;
  font-size: 32px;
}

.copyright {
  padding: 15px 0;
  text-align: center;
  border-top: 0.5px solid rgb(73, 72, 72);
}


/* footer section style end */